# general dependencies
python-dotenv==1.0.1
jsonlines
nbconvert

# azure dependencies
azure-cosmos
azure-search-documents==11.4.0
azure-identity==1.16.0
azure-ai-ml
azure-ai-resources

# promptflow packages
promptflow[azure]==1.11.0
promptflow-tracing==1.11.0
promptflow-tools==1.4.0
promptflow-evals==0.2.0.dev0